.header {
    margin-bottom: 100px;
    background-color: white
}

.header-logo-container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    cursor: pointer;
}

@media (max-width: 36em) {
    .header {
        margin-bottom: 25px;
    }
}
